body{
    margin: 0;
    background-color: black;
    font-family: 'Exo 2', sans-serif;

}

.left {
    position: absolute;
    color: white;
    padding: 120px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    
}
a {
    border: 2px solid white;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white !important;
}
a:hover {
    background-color: white;
    color: black;
}
h1{
    font-size: 3em;
}


#canvasContainer{
    display: block;
}